.app {
  height: 100vh;
  position: relative;
}

.list {
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xterm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
